body#page,html,.container, {
   height: 100vh;
}

#page {
   height: 100vh;
   position: absolute;
   text-align: center;
}

#mainPage {
   height: 100vh;
   background-image: url("../assets/images/taxi12.jpg");
   background-size: cover;
}

.intro {
    background: linear-gradient(to bottom right, #530060 0%, #db0a87 100%);
    text-align: center;
    height: 100%;
}

.mainLogo {
    position: relative;
    margin-top: 30%;
    width: 45%;
}


.setUp  {
    text-align: center;
    height: 100%;
}

.logoTop{
  width: 9%;
  margin-top: 7px;
  margin-bottom: 48px;
}

.logoCover {
   vertical-align: middle;
   width: 45%;
}

.setUpElement {
   margin-bottom: 40px;
}

.setUpBtn {
   margin-bottom: 30px;
   margin-top: 80px;
}

#intro {
   height: 100%;
}

.introBtn {
  background-color:
}
